/** {
    outline: 0.1px solid rgb(218, 125, 49);
}*/

.vh100 {
    height: calc(100vh - 96px);
}

@media (max-width: 576px) {

    .vh100 {
        height: calc(100vh - 152px);
    }
}

/*-----------------------------------*/

.blogo {
    width: 240px;
    height: 48px;
    margin-top: 16px;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan h2 {
    text-align: center;
    line-height: 1.2;
}

.slogan p {
    line-height: 1.5;
    margin-top: 32px;
    text-align: justify;
}

/*-----------------------------------*/
.fivecare {
    background-image: url(../img/mid_bgc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;

}

.ourvalue h2 {
    text-align: center;
    color: #474949;
}

.value_group {

    display: flex;
    justify-content: center;
}

.up {
    margin-top: 56px;
}

.down {
    margin-top: 56px;
}

.value_item {
    width: 18.6%;
    margin: 0 40px 0 40px;
}

.value_item h3 {
    text-align: center;
    margin-top: 16px;
}

@media (max-width: 768px) {
    .value_item {
        width: 22%;
    }

    .up {
        margin-top: 32px;
    }

    .down {
        margin-top: 32px;
    }
}

@media (max-width: 576px) {
    .value_group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .value_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        margin-bottom: 16px;
    }

    .down {
        margin-top: 0px;
    }
}

/*------------------------------------------*/

.product h2 {
    text-align: center;
    color: #474949;
}

/*slider*/

.product_item {
    /*width: calc(100%/3 - 42px);*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catkeeper {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
}

.catkeeper:hover {
    transform: scale(1.05, 1.05);
}

.product_item h4 {
    text-align: center;
    margin-top: 24px;
}

.product_item h3 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 72px;
}

.goshop {
    display: flex;
    justify-content: center;
}

.shopbtn {
    display: block;
    padding: 24px 32px;
    margin-top: 48px;
    background-color: #ffe78b;
    font-size: 24px;
    font-weight: 900;
    color: #474949;
    border-radius: 50px;
}

.goshop a:hover {
    background-color: #80b7e4;
    color: #FFF;
    transition: 0.5s;
}

@media (max-width: 576px) {

    .product_group {
        flex-direction: column;
        align-items: center;
    }

    .product_item {
        /* width: 77.2%;*/
        margin-top: 32px;
    }
}

@media (max-width: 430px) {
    .product_item {
        width: 100%;
    }

    .product_item h3 {
        margin-bottom: 56px;
    }
}

/*------------------------------------------*/
.safety {
    background-image: url(../img/btm_bgc.png);
}

.safelabel h2 {
    text-align: center;
    color: #474949;
}

.safelabel_group {
    display: flex;
    justify-content: center;
}

.safelabel_item {
    width: 18.6%;
    margin: 0 40px 0 40px;
}

.safelabel_item h3 {
    text-align: center;
    margin-top: 16px;
    /*color: #f02d20;*/
}

.safemoney {
    display: flex;
    justify-content: center;
}

.safemoney_txt {
    margin-top: 48px;
    color: #474949;
    padding: 16px 40px;
    border: #474949 3px solid;
    font-size: 32px;
    /*H2的大小*/
}

.info {

    display: flex;
    justify-content: space-between;
}

.infoleft {
    width: 100%;
}

.infoleft h2 {
    color: #474949;
}

.contact {
    margin-top: 24px;
}

.contact h3 {
    margin-bottom: 8px;
    font-weight: 400 !important;
}

.contact h3 a {
    color: #474949;
}

@media (max-width: 768px) {
    .safelabel_item {
        width: 22%;
    }
}

@media (max-width: 576px) {
    .safelabel_group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .safelabel_item {
        display: flex;
        justify-content: center;
        width: 40%;
        margin-bottom: 16px;
    }

    .safemoney_txt {
        margin-top: 8px;
        font-size: 24px;
        padding: 16px 16px;
    }

    .info {
        margin-top: 32px;
    }
}




/*----------*/