
.top_bar{
    border-bottom: 3px solid #ffe78b;
    background-color: #ffe78b;
}
/*nav反應條for JS*/
.border_btm_red {
    border-bottom: 3px solid #80b7e4;
    transition: 0.5s;
}

.border_btm_white {
    border-bottom: 3px solid #ffe78b;
    transition: 0.5s;
}
/*nav反應條for JS*/

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;    
    position: relative;
}  

.nav a {
    font-size: 24px;/*H3的大小*/
    font-weight: 600;
    color: #474949;
}

.navlogo{
    width: 240px;
    height: 48px;
}

h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} /*LOGO*/

.logo img{
    vertical-align: middle;
}

.navbtn {
    display: flex;
    
}

.navbtn a:hover{
    color: #80b7e4;
    transition: 0.5s;

}
.btn01{
    margin-right: 40px;
}

@media (max-width: 992px){

    .btn01{
        margin-right: 16px;
    }
}

@media (max-width: 576px){

    .top_bar{
        border-bottom: 0px solid #EEE;
    }
    .navbtn{
        visibility: hidden;
    }
}

.phone_nav{
    display: flex;
    align-items: center;
    background-color: #80b7e4;
    display: none;
}

.phone_nav a{
    font-size: 24px;/*H3的大小*/
    padding: 16px 0;
    color: white;   
}

.phone_nav .leftbtn{
    width: 50%;
    text-align: center;
}

.phone_nav .rightbtn{
    width: 50%;
    text-align: center;
}

@media (max-width: 576px){

    .phone_nav{
        display: block;
        display: flex;
    }

}