:root {
  --swiper-theme-color: #80b7e4;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}

.pb40{
  padding-bottom: 40px;
}

.swiper-button-hidden {
  display: none;
}

.pic01 {
  background-image: url(../img/mainvisual-wide-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 0 200px;
}

.pic02 {  
  background-image: url(../img/mainvisual-wide-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 0 200px;
}

.pic03 {  
  background-image: url(../img/mainvisual-wide-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 0 200px;
}

@media (max-width: 576px) {
  .pic01 {
    background-image: url(../img/mainvisual-576-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0;
  }

  .pic02 {
    background-image: url(../img/mainvisual-576-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0;
  }

  .pic03 {
    background-image: url(../img/mainvisual-576-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0;
  }

}

@media (max-width: 400px) {

  :root{ 
    --swiper-pagination-bullet-size: 12px;

  }

  }

